.arrow
{
    display: inline-block;

    vertical-align: top;
}

.arrow_pad_left
{
    margin-left: 40px;
    margin-right: 10px;

    padding-top: 12px;
}

.arrow__yellowborder
{
    padding-bottom: 2px;
    padding-left: 2px;
    padding-top: 2px;
    margin-right: 12px;

    position: relative;
    width: 100%;
    display: inline-block;

    background: #fd0;
    background-image: -webkit-linear-gradient(top right,#ffdb4c 0,#fc0 100%);
    background-image: -moz-linear-gradien;
}

.arrow__name
{
    display: inline-block;
    font-size: 18px;
    line-height: 2em;
    padding-left: 15px;
    padding-right: 5px;
}

.arrow__inside
{
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 10px 0 0;
    width: auto;
}

.arrow__corner
{
    display: block;

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

    width: 48px;
}

.arrow__triangle
{
    font: 0/0 a;
    position: absolute;

    top: 50%;
    right: -1px;

    width: 0;
    height: 0;

    margin-top: -35px;

    border: solid #fff;
    border-width: 35px 1px 35px 18px;
    border-left-color: transparent;
    -webkit-transform: rotate(360deg);
    -moz-border-end-style: dotted;
}

.arrow__triangle_mod_inside
{
    border-color: #fd0;
    border-left-color: transparent;
}
