.b-wrapper-content__error {

    width: 700px;

    margin: 100px auto;

    padding-top: 15px;
    padding-bottom: 15px;

    padding-left: 30px;
    padding-right: 30px;

    background: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 0, 0, .1), 0 3px 4px -3px rgba(255, 0, 0, .3);
    -moz-box-shadow: 0 0 0 1px rgba(255, 0, 0, .1), 0 3px 4px -3px rgba(255, 0, 0, .3);
    box-shadow: 0 0 0 1px rgba(255, 0, 0, .1), 0 3px 4px -3px rgba(255, 0, 0, 0.29);

}